.viewer {
    width: 300px;
    height: 300px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background: #D1D8EC;
    background-image: url("../img/bg.jpg");
    text-align: center;
    display: flex;
    color: grey;
    font-weight: bold;
    width: 100%;
}

ul,
li {
    list-style-type: none;
    padding-left: 5px;
    text-align: left;
}

#main {
    width: auto;
    display: none;
}

.sizeBut {
    width: 100px;
}

input {
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: xx-large;
    width: 100%;
}

input:focus {
    outline: none;
}

::placeholder {
    color: lightgray;
}

button {
    border: none;
    background-color: transparent;
    color: gray;
    font-weight: bolder;
}

button:focus {
    outline: none;
}

#filters {
    font-size: larger;
    flex-direction: row;
    width: 200px;
    display: none;
}

#filters ul {
    white-space: nowrap;
    overflow: hidden;
}


#searchPanel {
    flex-direction: row;
    padding: 0px 20px;
}

#results ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#results h1 {
    text-align: center;
    width: auto;
}


#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

.neodiv {
    margin: 20px;
    padding: 5px;
    -webkit-border-radius: 26px;
    border-radius: 26px;
    background: #D1D8EC;
    background-image: url("../img/bg.jpg");
    -webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
    box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}
